<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Climb The Ladder</a>
  <div data-toggle="tooltip" data-placement="top" title="Interesting once you reach level 2">
      <span class="navbar-text">Level 2 ladders: {{listItems?.level2LadderCount}}</span>
  </div>
  <div class="form-inline ml-auto">
    <input id="name1" type="text" class="form-control mr-sm-2" placeholder="Nick" [(ngModel)]="name" required>
    <button id="submit1" class="btn btn-primary" (click)="addLadder()" [disabled]="!name">Add Ladder</button>
  </div>
</nav>

<br/>
<br/>
<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Place</th>
            <th>Name</th>
            <th>Ladders</th>
            <th>Level</th>
            <th>Add next ladder after</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of listItems?.shortList; index as i"
                [class.table-success]="i==listItems.highlightIndex">
                <td>{{item.position==-1?"":item.position}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ladderCount==-1?"":item.ladderCount}}</td>
                <td>{{item.ladderCount==-1?"":item.level}}</td>
                <td>{{renderTime(item.timestamp, item.level)}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
